<!-- <div class="footer__wrapper">
	<div class="footer__layout">
		<div class="footer__column--brandDetails footer__column">
			<h6 class="footer__brandTitle">
				<a href="/index.html">
					<img src="/assets/primrose-brand/primrose-brand-logo-sm.png" class="footer__primroseBrandLogo"
						alt="primrose-brand-logo" /></a>
			</h6>
			<p class="footer__localeBody">
				<span>Primrose.health</span>
				<span>117 Gemini Cir Ste#403</span>
				<span>Birmingham, AL 35209</span>
				<span><a href="tel:+1-888-720-2025" class="footer__localBody--contact f4">(205) 880-7575</a></span>
			</p>
		</div>
		<div class="footer__column--spacing"></div>

		<div class="footer__column">
			<section class="list">
				<h6 class="list__title">COMPANY</h6>
				<ul class="list__listed">
					<li class="list__item"><a href="/about.html">About us</a></li>
					<li class="list__item">
						<a href="/privacy-policy.html">Privacy Policy</a>
					</li>
					<li class="list__item">
						<a href="/blog.html">Blog</a>
					</li>
					<li class="list__item"><a href="/contact-us.html">Contact us</a></li>								<li class="list__item"><a href="/portfolio/gallery.html">Portfolio</a></li>
				</ul>
			</section>
			<section class="list list__phoneDisplay">
				<h6 class="list__title">PRODUCTS</h6>
				<ul class="list__listed">
					<li class="list__item">
						<a href="/website-seo.html">Website & SEO</a>
					</li>
					<li class="list__item">
						<a href="/virtual-visits.html">Virtual Visits </a>
					</li>
					<li class="list__item">
						<a href="/secure-chat.html">Secure Chat</a>
					</li>
					<li class="list__item">
						<a href="/patient-marketing.html">Patient Marketing</a>
					</li>
					<li class="list__item">
						<a href="/products/online-scheduling.html">Online Scheduling</a>
					</li>
					<li class="list__item">
						<a href="/payment-portal.html">Payment Portal</a>
					</li>
				</ul>
			</section>
		</div>
		<div class="footer__column footer__column--last">
			<section class="list">
				<h6 class="list__title">SERVICES</h6>
				<ul class="list__listed">
					<li class="list__item">
						<a href="services/managed-billing.html">Managed Billing</a>
					</li>
					<li class="list__item">
						<a href="services/staffed-billing.html">Staffed Billing</a>
					</li>
					<li class="list__item">
						<a href="services/credentialing.html">Credentialing</a>
					</li>
					<li class="list__item"><a href="/it-support.html">IT Support</a></li>
					<li class="list__item">
						<a href="/reputation-management.html">Reputation Management</a>
					</li>
					<li class="list__item">
						<a href="/remote-staffing.html">Remote Staffing</a>
					</li>
				</ul>
			</section>
		</div>
		<div class="footer__column footer__column--tabletDisplay">
			<section class="list">
				<h6 class="list__title">PRODUCTS</h6>
				<ul class="list__listed">
					<li class="list__item">
						<a href="/website-seo.html">Website & SEO</a>
					</li>
					<li class="list__item">
						<a href="/virtual-visits.html">Virtual Visits </a>
					</li>
					<li class="list__item">
						<a href="/secure-chat.html">Secure Chat</a>
					</li>
					<li class="list__item">
						<a href="/patient-marketing.html">Patient Marketing</a>
					</li>
					<li class="list__item">
						<a href="/products/online-scheduling.html">Online Scheduling</a>
					</li>
					<li class="list__item">
						<a href="/payment-portal.html">Payment Portal</a>
					</li>
				</ul>
			</section>
		</div>
	</div>
</div>
<section class="footnote_section">
	<div class="footnote">
		<div class="brandCopyright">© Primrose <span id="footer__year"></span></div>
	</div>
</section> -->
